.navbar-brand {
    background: #4aaaa5;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: white;
}

.bg-light {
    background-color: #ffffff!important;
}

.navbar {
    padding: 0rem 1rem;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc; 
}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/vintage-wallpaper.png");
}

.card {
    margin-top: 40px;
    border: 1px solid #dddddd;
    margin-bottom: 100px;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

hr {
    border-top: 4px solid rgba(0,0,0,.1);
}

.fixed-bottom {
    background: #666666;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 5px;
    border-top: 8px solid #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #cccccc;
}

.profilepic {
    float: left;
    padding-right: 20px;
}

.btn-primary {
    background: #4aaaa5;
    border-color: #4aaaa5;
}

.btn {
    border-radius: 0rem;
    padding: .375rem 1.25rem;
}

.navbar-nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.col-sm-4 {
    padding-bottom: 60px;
    margin: 20px;
}

.portfoliopics {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.positioning-a {
    position: relative;
}

.positioning-b {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}